@model IEnumerable<Library.ViewModels.AuthorViewModel>


<h2>Список произведений</h2>
<div>
            @foreach (var books in Model)
            {
                @*<dl class="dl-horizontal">
                    <dd>@books.BookName</dd>
                </dl>*@
            }
</div>
