*_i.c
*.suo
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.editorconfig
/Library.API/obj/*
/Library.BLL/obj/*
/Library.DAL/obj/*
/Library.API/obj/Debug/*
/Library.DAL/obj/Debug/*
/Library.BLL/obj/Debug/*
/Library.Tests/obj/Debug/*
.vs/Library/DesignTimeBuild/*
/Library.API/obj/
/Library.BLL/obj/
/Library.DAL/obj/
/Library.API/bin/
/Library.BLL/bin/
/Library.DAL/bin/
/Library.API/obj/Debug/
/Library.DAL/obj/Debug/
/Library.BLL/obj/Debug/
/Library.Tests/obj/Debug/
.vs/Library/DesignTimeBuild/
.vs/Library/v16/.suo
/Library.Tests/obj/
/Library.API/obj/Debug/netcoreapp3.1/
/Library.DAL/obj/Debug/netcoreapp3.1/
/Library.BLL/obj/Debug/netcoreapp3.1/
/Library.Tests/obj/Debug/netcoreapp3.1/